# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.next/
/out/

# production
*build/


# misc
.DS_Store
*.pem
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

# debug
*.log

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# main env file
.env

# vercel
.vercel

# VS Code Plugins
.history/

# Turborepo
.turbo

# Storybook
storybook-static

# vscode
.vscode

# Logs and databases
.tmp

# Strapi
exports
*.cache
.strapi-updater.json

*.tsbuildinfo

# Sentry
.sentryclirc